<div class="modal">
    <div class="modal-content">
        <div class="split modal__left">
            <img class="logo__modal" src="{{ url_for('static', filename='Logo.png') }}" alt="NUS Nomads logo"/>
            <h2 class="community__pitch">Every year, thousands of NUS students fly to different colleges in every corner of the world.</h2>
            <h2 class="community__pitch">Join our growing community today.</h2>
            &nbsp;
            <h2 class="sign__up__sentence">Sign up to NUS Nomads to...</h2>
            <h3 class="sign__up__pitch">🔥 Filter data of over 100 overseas colleges</h3>
            <h3 class="sign__up__pitch">🔥 Meet fellow students going to the same college</h3>
        </div>
        <div class="split modal__right">
            <span class="close-button">&times;</span>
            <div class="social__login__container">
                <a href="{{ url_for('oauth_authorize', provider='facebook') }}"><button class="social__button--facebook"><i class="fab fa-facebook"></i><span class="social__text">Connect with Facebook</span></button></a>
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}"><button class="social__button--twitter"><i class="fab fa-twitter"></i><span class="social__text">Connect with Twitter</span></button></a>
            </div>
        </div>
    </div>
</div>
